/**
 * @name DiscordMe
 * @author KK
 * @version 0.0.1
 * @description Build my own way
 */

/* base theme: https://github.com/catppuccin/discord */

@import url(https://catppuccin.github.io/discord/dist/catppuccin-mocha-pink.theme.css);

[class^="gridContainer"] {
  max-width: 100%;
}

[class^="member"],
[class^="childContainer"] {
  width: 400px;
}

[class^="searchResultsWrap"] {
  width: 45%;
}
