/**
 * @name DiscordMe
 * @author KK
 * @version 0.0.1
 * @description Build my own way
 */

/* base theme: https://github.com/catppuccin/discord */

@import url(https://catppuccin.github.io/discord/dist/catppuccin-mocha-pink.theme.css);

html,
body {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

[class^=gridContainer] {
  max-width: 100%;
}

[id^=chat-messages] {
  margin-bottom: 25px;
}

[class^=member],
[class^=childContainer] {
  width: 400px;
}
